@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Редактирование товара";
}


    <form method="post" style="margin-top:20%;">
        <h2>@ViewData["Title"] "@Model.Product.nameProduct"</h2>
        <div asp-validation-summary="All"></div>
        <input asp-for="Product.idProduct" type="hidden" />
        <div class="form-group">
            <label class="control-label" for="inputemail">@Model.Product.nameProduct</label><br>
                <input asp-for="Product.nameProduct" class="form-control" />
                <span asp-validation-for="Product.nameProduct"></span>
            </div>
        <div>
            <label>Цена</label>
            <div>
                <input asp-for="Product.priceProduct" type="number" class="form-control"/>
                <span asp-validation-for="Product.priceProduct"></span>
            </div>
        </div>
        <div>
            <label>Категория</label>
            <div>
                <input asp-for="Product.categoryProduct" class="form-control"/>
                <span asp-validation-for="Product.categoryProduct"></span>
            </div>
        </div>
        <div>
            <label>Изображение</label>
            <div>
                <input  asp-for="Product.imageProdusct"class="form-control"/>
                <span asp-validation-for="Product.imageProdusct"></span>
            </div>
        </div>
        <div>
            <label>Показ</label>
            <div>
                <input asp-for="Product.previewProduct" class="form-control"/>
                <span asp-validation-for="Product.previewProduct"></span>
            </div>
        </div>
        <div>
            <label>Описание</label>
            <div>
                <input asp-for="Product.detailProduct" class="form-control"/>
                <span asp-validation-for="Product.detailProduct"></span>
            </div>
        </div>
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </form>